aiogram==3.13.1
aiohttp==3.9.5
python-dotenv==1.0.1
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
google-api-python-client==2.142.0
openai==1.42.0
SpeechRecognition==3.10.4
pydub==0.25.1
apscheduler==3.10.4